<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>MyChat</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <!-- <script src='main.js'></script> -->
</head>
<body>
    <div class="container">
    <main>
        <div class="container" style="color:black;">
        <section id="form-container" style="color:black;">

            <img id="logo" src="images/chat-icon.jpg"/>

            <div id="welcome-message" style="color:black;">
                <h1>Welcome to SnapSkoot</h1>
                <p>The best vedio Calling app</p>
            </div>

            <form id="form" style="color:black;">
                <div class="form-field">
                    <label>Room</label>
                    <input type="text" name="room"/>
                </div>

                <div class="form-field">
                    <label>Name</label>
                    <input type="text" name="room"/>
                </div>

                <div class="form-field">
                    <input type="submit"  value="Join Room">
                </div>
            </form>
        </section>
    </div>
    </main>
    </div>
    
</body>
</html>